<div class="col-sm-4 mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @account.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Nature: <%= @account.nature %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Id: <%= @account.remote_id %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Balance: <%= @account.balance %></h6>
      <h6 class="card-subtitle mb-2 text-muted">Currency: <%= @account.currency_code %></h6>
    </div>
  </div>
</div>
